/* Medium devices (tablets) */
@media (max-width: 992px) {
    .gb {
        padding: 60px 0;
    }




}

/* Small devices (phones in landscape) */
@media (max-width: 768px) {
    .gb {
        padding: 40px 0;
    }

    .banner_content h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .services .row .col-md-3 {
        width: 50%;
    }



    .service-card {
        padding: 10px;
    }

    .service-card img {
        width: 100%;
    }

    .theme-btn24.vl-btn1 {
        padding: 7px 20px;
        font-size: 14px;

    }

    .point_list {
        grid-template-columns: repeat(1, 1fr);
    }

    .service-card {
        text-align: left;
    }

    .banner ul {
        grid-template-columns: repeat(1, 1fr);

    }

    .learn-link {
        font-size: 13px;
    }

    .title {
        font-size: 25px;
    }

    .butnds {
        padding: 7px 21px;
        font-size: 13px;

    }

    .point_list li a {
        font-size: 14px;
    }

    .clints-logo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
        margin-bottom: 2rem;
    }

    .testimonial-box p {
        font-size: 15px;
        line-height: 1.7;
    }

    .navbar {
        padding: 0;

    }

    .form_data {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
    }

    .contact-form h5 {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .contact-form h5 {
        color: #000;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .banner_content h6 {
        padding: 4px 3px;
        font-size: 13px;
    }

    .testimonial-carousel .testimonial-item {
        background: #fff;
        border: 1px solid #e3e3e3;
        border-radius: 12px;
        padding: 16px;
        transition: 0.3s ease;
        height: 100%;
    }

    .testimonial-author h4 {
        font-weight: 700;
        margin: 0;
        font-size: 17px;
    }

    .testimonial-author span {
        font-size: 12px;
        color: #777;
    }

    .banner_content p {
        font-size: 14px;
    }

    .banner ul li a {
        font-size: 13px;
    }

    .marquee p {
        font-size: 12px;

    }

    .service-card h5 {
        font-size: 18px;

    }

    p {
        font-size: 14px !important;
    }

    .form-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }


}

/* Extra small devices (phones in portrait) */
@media (max-width: 576px) {
    .gb {
        padding: 30px 0;
    }

    .banner {
        padding: 15px 0 17px 0;

    }

    .non-visible {
        margin-top: 1.5rem !important;
    }

    p {
        font-size: 13px !important;
    }

    .point_list li {
        font-size: 14px;

    }

    .m_tech {
        margin-bottom: 2rem !important;
        text-align:  left !important;
    }

    .m_tech p {
        width: 100% !important;
    }

    .footer .row {
        margin-top: 0 !important;
    }


    .visible {
        display: none;
    }

    .non-visible {
        display: block;
    }

    .testimonial-box p {
        font-size: 15px !important;
        line-height: normal !important;
        width: 100% !important;
    }

    .dslc-testimonial-author-name {
        font-size: 20px;
    }


    .form_data {
        width: 90%;
        margin: 0 auto;
    }

    .service-card h5 {
        font-size: 16px;
    }

    .contact-form h5 {
        color: #000;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 1rem;
    }

    .point_list {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .point_list li {
        padding: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .point_list li a {
        font-size: 14px;
    }
}