/* Medium Screens (Laptop) */
@media (max-width: 1199.98px) {
    .swiper {
        height: 700px;
        width: 100%;
    }

    #primary li {
        margin: 0 2px;
        position: relative;
    }

    .swiper .swiper-slide .slide-content {
        padding-top: 140px;
    }
}

@media (max-width: 1024px) {
    .navbar-nav {
        gap: 10px;
    }

    .btn2 {
        padding: 6px 10px;
        font-size: 14px;
    }

    .logo img {
        width: 80px;

    }

    .navbar-light .navbar-nav .nav-link {
        font-size: 15px;

    }

    .marquee h1 {
        font-size: 100px;
    }

    .marquee-section {
        padding: 73px 20px;

    }
}

/* Small Screens (Tablet) */
@media (max-width: 991.98px) {
    .swiper {
        height: 700px;
        width: 100%;
    }

    /*.sub_headlines  p{*/
    /*    text-align: justify;*/
    /*}*/

    .main_img {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    .title {
        font-size: 45px;
        font-weight: 600;
        line-height: 37px;
        color: #222;
        margin-bottom: 1rem;
    }

    .accordion-button {
        font-weight: 500;
    }

    .content-area {
        flex-direction: column;
    }

    .wrapper {
        /* max-width: 1100px; */
        padding: 16px;
        background: #ffffff;
        /* box-shadow: 0 8px 24px rgb(0 0 0 / 0.05); */
        border-radius: 15px;
        margin-top: 88px;
    }



    .card-text ul li {
        display: flex;
        font-size: 15px;
        line-height: 25px;
    }

    .contact {
        padding: 40px 20px;

    }

    .whatsapp-float {
        bottom: 15px;

    }

    .contact-info li {
        font-size: 16px;
        line-height: 20px;
    }

    .career_wrapper {
        background-color: #f5f5f5;
        padding: 10px;
    }


    .marquee h1 {
        font-size: 100px;
    }

    #primary li a {
        text-decoration: none;
        padding: 5px 0;
        line-height: 1;
        position: relative;
        z-index: 1;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #000, #000);
        /* Black text */
        background-size: 200% 100%;
        background-position: -100%;
        transition: all 0.3s ease-in-out;
        font-weight: 600 !important;
        font-size: .875rem;
        text-transform: uppercase;

    }

    .navbar-toggler {
        background: #fff;
    }

    .logo img {
        width: 95px;
    }

    .products-section {
        padding: 40px 0;
    }

    .process-steps {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 30px;
    }

    footer {
        padding: 40px 0;
    }

    .footer p {
        color: var(--white-color);
        font-size: 96%;
        line-height: 1.3;
        max-width: 300px;
        font-family: "Unbounded", sans-serif;
        padding-top: 17px;
        font-weight: 400;
    }

    .process-card h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .read-more_blog {
        color: var(--primary-color);
        font-size: 14px;
    }

    footer h3 {
        color: #fff;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 600;
    }


    .about_container {
        gap: 20px;
        flex-direction: column;
    }

    .swiper .swiper-slide .slide-content {
        display: flex;
        justify-content: center;
        padding-top: 130px;
    }

    .swiper .swiper-slide .slide-content .slide-title {

        font-size: 45px;
        line-height: 52px;
    }

    .btn2 {
        padding: 6px 14px;
        font-size: 13px;

    }

    .global_padding {
        padding: 40px 0;
    }

    .video-section {
        height: 340px;
    }


}

/* Extra Small Screens (Mobile - Landscape) */
@media (max-width: 767.98px) {

    .title {
        font-size: 25px;
        line-height: 32px;
    }

    .timeline-item .dot {
        display: none;
    }

    .slide-title {
        font-size: 36px;
        font-weight: 600;
        line-height: 40px;
        margin-bottom: 2vw;
        transform: translateX(50px);
        opacity: 0;
        transition: transform 0.8s ease, opacity 0.8s ease;
        font-family: var(--font);
        color: #222;
    }

    .timeline-tabs::after {
        display: none;
    }

    .product-h strong {
        font-size: 24px;
        color: #1e293b;
        display: block;
        margin-top: 6px;
        letter-spacing: normal;
        font-weight: 600;
    }

    .about_right {
        flex: 1 1 55%;
        position: relative;
        margin-top: 0;
    }

    .product-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .product-content {
        padding: 15px 10px 10px 41px;
        text-align: left;
        background-color: #fff;
        width: 80%;
        position: absolute;
        top: 459px;
        right: 0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    }

    .process-card {

        height: auto;
    }

    .about_description {
        padding: 22px 11px;
    }

    .timeline-tabs {
        border: none !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;
    }

    footer h3 {
        color: #000000;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .abt_page_ {
        width: 100%;

    }

    #circle {
        right: -1rem;
        top: -7rem;
    }

    #circle svg {
        width: 80%;
        height: 80%;
    }

    .star {

        transform: translate(-109%, -84%);

    }

    .timeline-item .tab {
        font-size: 14px;
    }

    .about_description {
        padding: 20px 10px;
    }

    .phone-number {
        font-size: 18px;
        font-weight: 500;
        color: #222 !important;
    }

    .content-area {
        margin: 0 10px;
    }

    .content-area {
        margin: 0 10px;
        gap: 0;
    }

    .abimg {
        position: relative;
        right: 0;
        width: 83%;
        top: 0;
    }

    .faq-image {

        margin-right: 0;
    }

    .service-page-content {
        padding: 0;
    }

    .main-content img {
        height: 100%;

    }

    .services-wrapper {
        padding: 0;
    }

    .faq-heading {
        font-size: 25px;

    }

    .faq-question div {
        font-size: 17px;
        display: flex;
    }

    .sidebar {
        padding: 15px;
    }

    .contact-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;

    }

    .why-choose-service h2 {
        font-size: 25px;
    }

    .service-title {
        font-size: 1rem;
    }

    .service-boxs {
        padding: 13px;
    }

    .icon-box i {
        font-size: 20px;
    }

    .icon-box {

        height: 50px;
        width: 50px;
    }

    .product_accodiant .accordion-button {
        font-size: 15px;
    }

    .product_accodiant .accordion-body p {
        font-size: 16px;
    }

    .main-content h2 {
        font-size: 25px;
    }

    .section-title h2 {
        font-size: 26px;

    }

    .play-button {
        width: 80px;
        height: 80px;

    }

    .blog-carousel {
        padding-bottom: 20px;
    }

    .clint_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        font-size: 26px;
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
        content: 'next';
        font-size: 26px;

    }

    .video-popup p {
        font-size: 15px;
    }

    .card-text ul li {
        display: flex;
        font-size: 15px;
        line-height: 25px;
    }

    .process-steps {
        grid-template-columns: 1fr;
    }

    .process-step {
        padding: 20px;
        min-height: 228px;
    }

    .step-title {
        font-size: 18px;
    }

    .clint_box .items {
        background-color: #eeeeee9e;
        padding: 20px;
        border-radius: 5px;
    }

    .slides-wrapper {
        background-color: none;
    }

    .stats-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .stat-box:nth-child(4) {
        width: 100%;
    }

    .stats-grid .stat-box:first-child {
        width: auto;

    }

    .stat-box {
        height: 160px;

    }

    .stat-number {
        font-size: 30px;
    }

    .global_padding {
        padding: 30px 0;
    }

    .achievement-header h2 {
        font-size: 25px;
    }

    .achievement-header {
        margin-bottom: 0px;
    }

    .faq-box {
        flex-direction: column;
    }

    .faq-content {
        margin-top: 2rem;
        width: 100%;
    }
}


/* Extra Extra Small Screens (Mobile - Portrait) */
@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 25px;
    }

    .sub_headlines p {
        color: var(--text-color);
        text-align: justify;
    }

    .feature-icon i {
        font-size: 36px;
    }

    .slide-button {
        font-size: 13px;
        padding: 2vw 4vw;
    }

    .owl-dots {
        margin: 10px 0 0 0;
    }

    .cally {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .timeline-tabs::after {
        display: none;
    }

    .inner_section {
        padding: 107px 0;
    }

    .content-are {
        margin-left: 12px;
    }

    .product-content {
        padding: 15px 10px 10px 41px;
        text-align: left;
        background-color: #fff;
        width: 80%;
        position: absolute;
        top: 370px;
        right: 0;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    }



    .slide-title {
        font-size: 30px;
        line-height: 41px;
    }

    .timeline-tabs {
        gap: 15px;
        margin: 0;
    }

    .stat-number {
        font-size: 52px;
        color: #222;
        font-weight: 900;
        margin-bottom: 0;
    }

    .timeline-item {
        text-align: center;
        position: relative;
        flex: 1;
        background: #9ed2ff5e;
    }

    .timeline-item .dot {
        display: none;
    }

    /*.timeline-tabs {*/
    /*    border: none !important;*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(3, 1fr);*/
    /*}*/

    .phone-icon {
        min-width: 40px;
        min-height: 40px;
    }

    .contact-info li {
        font-size: 16px;
        line-height: 25px;
        font-weight: 500;
    }

    .copyright {
        color: #000;
        font-size: 14px;
        font-family: var(--font) !important;
        text-align: left;
        font-weight: 500;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;
    }

    .footer ul li a {
        color: #000;
        text-decoration: none;
        font-size: 17px;
        font-weight: 500;
    }


    .clint_box .items img {
        width: 100%;
        height: 50px;
        object-fit: contain;
    }

    .social-links {
        display: none;
    }




    .bullets {
        bottom: 22%;
        display: none;
    }

    .footer-column {
        flex: 1;
        min-width: 250px;
        margin: 0px;
    }

    .para {
        font-size: 14px;
        /*line-height: 21px;*/
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 31rem;
    }

    .process {

        margin-top: 0;
    }

    .we-do::before {
        display: none;
    }

    .marquee-section {
        padding: 50px 0 20px 0;
    }

    .marquee h1 {
        font-size: 40px;
        letter-spacing: 5px;
    }

    .swiper {
        height: 550px;

    }

    .we-do {
        padding: 40px 0;

    }

    .logo img {
        width: 100px;
    }

    .feature-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 7px;
        padding: 30px 00px;
        position: relative;
    }

    .feature-content .feature-heading {
        font-size: 18px;

    }

    .step-number-large {
        font-size: 66px;
        margin-top: -1rem;
    }

    .product-content {
        top: 395px;
    }
}

@media (max-width: 475px) {
    .swiper .swiper-slide .slide-content .slide-title {
        font-size: 30px;
        line-height: 39px;
    }

    .slide-indicators {
        display: none;
    }
}

@media (max-width: 400px) {
    .product-content {
        top: 296px;

    }
}